/*DESARROLLADO POR {SD}SOFTWARE | SOLUCIONES EN DESARROLLO DE SOFTWARE MX, S.C.*/

/*MENÚ*/
.logo-img{
	width: 200px;
}

.ctrlslista{
	padding-top: 35px;
}

/* MODAL VIDEO*/
.pie-video-mod{
	float: left;
}

.desc-video{
	color:#00B7EB;
}

.btn-video-mod{
	float: right;
	margin-top: 3px;
}